/****NavBar****/

.navbar {
    margin: 15px 5px;
}

.navbar-brand img {
    width: 150px;
}

.navbar-collapse {
    margin: 0 10px;
}

.navbar-toggler {
    width: 70px;
    height: 70px;
}


.nav-item {
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    position: relative;
    transition: color 0.5s, transform 0.5s;
}

.nav-item:hover {
    color: black;
}

.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.nav-item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-item .selected {
    font-weight: 700;
    color: black;
}

.dropdown-item{
    font-size: 20px;
    font-weight: 600;
}

/****SlideShow****/
.img-slideshow {
    width: 100%;
}

/****Intro****/

.intro{
    margin: 800px 0;
}

/****Catalogo****/

.seccion {
    margin: 80px 0;
}

.titulo {
    font-size: 28px;
    text-align: center;
    margin: 5px 20%;
}

.titulo hr {
    border: none;
    border-top: 2px solid black;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.titulo:hover hr {
    opacity: 1;
    transform: scaleX(1.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.subtitulo p {
    padding-top: 15px;
}

.subtitulo {
    font-size: 24px;
    text-align: center;
    margin: 100px 30% 40px 30%;
    border: 2px solid black;
}

.parrafo {
    margin: 0 30%;
    text-align: center;
    font-size: 18px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.prod {
    margin: 20px 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.prod img {
    width: 350px;
    border-radius: 10px;
    display: block;
    transition: opacity 0.3s ease;
}

.overlay {
    position: relative;
}

.overlay button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    font-size: 20px;
    font-weight: 500;
}

.overlay:hover img {
    opacity: 0.5;
}

.overlay:hover button {
    opacity: 1;
    background-color: black;
    color: white;
}

/****Footer****/
.logoempresa{
    width: 250px;
}

footer{
    margin: 20px 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.text{
    font-size: 20px;
    color: black;
}

.textp{
    font-size: 18px;
    color: black;
}

.links{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.btn-primary{
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: #000 !important;
    --bs-btn-color: #000 !important;    
    --bs-btn-font-size: 25px !important;
}

.textcopy{
    color: #000;
    font-size: 14px;
    border-top: #000 3px solid;
}

footer .container{
    padding: 40px 0 !important;
}

@media (max-width: 1000px) {
    .navbar-brand img{
        width: 300px;
    }
    .nav-item {
        font-size: 30px;
    }
    .dropdown-item{
        font-size: 30px;
        font-weight: 600;
    }    
    .img-slideshow {
        width: 100%;
    }

    .titulo {
        font-size: 60px;
    }
    .subtitulo {
        font-size: 50px;
        margin: 100px 20% 40px 20%;
        border: 3px solid black;
    }
    .parrafo {
        margin: 0 10%;
        font-size: 38px;
    }
    .productos {
        display: grid;
        justify-content:space-around;
    }
    .prod img {
        width: 600px;
    }
    .overlay button {
        font-size: 40px;
    }
    .titulo hr {
        border-top: 4px solid black;
    }

    .logoempresa{
        width: 150px;
    }
    .text{
        font-size: 18px;
    }
    
    .textp{
        font-size: 14px;
    }
    
    .links{
        font-size: 14px;
    }
    
}
